/* viveros */
/*

@media screen and (min-width: 948px) {
    
    .ie8 div.img_galry_01 .overlay {
        left: -30px !important;
        top: 53px !important;
    }

    .ie div.img_galry_01 div.image-container .overlay {
        top: auto !important;
    }
    
    .ie7 div.img_galry_01 div.image-container .overlay {
        bottom: -3px !important;
        -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=75)";
        filter: alpha(opacity=75);
        -khtml-opacity: 0.75;
        -moz-opacity: 0.75;
        opacity: 0.75;
        background-color: #FFFFFF;
        margin-top: -75px;
        position:relative;
    }

    .ie7 .img_galry_01 {
        overflow: hidden;
        width: 624px;
    } 
    .ie7 .img_galry_01 li a.image img{
        margin-left: -35px;
        padding-left: -15px;
    }
    .ie7 .img_galry_01 li {
        display: inline;
        position: relative;
    }   
    .ie7 .img_galry_01 .type1a_ .carruselcontainer{
        overflow: hidden !important;
        position: relative;
    }
    
    .ie7 .img_galry_01 .carrusel1 .arrowLeft,
    .ie7 .img_galry_01 .carrusel1 .arrowRight{
        padding-top: 10px;
    }
    
    .ie7 .ulcarrusel{
        display: block !important;       
        overflow: hidden;
        position: relative;
    }
    .ie7 div.img_galry_01 a.album.active span.overlay{
        background: rgb(167,10,11);
        filter: alpha(opacity=70); 
    }
    .ie7 div.img_galry_01 a.album.active span.overlay:hover{
        background: rgb(255,255,255);
        filter: alpha(opacity=10); 
    }

    .ie8 div.img_galry_01 a.album span.overlay{
        position: absolute;
        padding-top: 30px !important;
        border: none;
    }
    .ie8 div.img_galry_01 a.album.active span.overlay{
        background: rgb(167,10,11);
        filter: alpha(opacity=70); 
        position: absolute;
        padding-top: 22px !important;
    }
    .ie8 div.img_galry_01 a.album.active span.overlay:hover{
        background: rgb(255,255,255);
        filter: alpha(opacity=10); 
    }


    .ie8 div.img_galry_01 span.data {display:none;}
    
}
*/
@media screen and (min-width: 624px){

    /* START: carouseltype1a_ (Medium) */
    div.img_galry_01{
        margin-bottom: 34px;
    }

    
    div.img_galry_01 .image-container{
       position:relative;
       height: 520px;
    }
        
    #videobtn{
        cursor:pointer;
    }
    
    div.img_galry_01 div.img_galry_01_selected {
        border: 3px solid #A70A0B;
    }
    
    /*Contenedor*/
    div.img_galry_01 {
        position: relative;
        width: 625px;
    }
    
    /*Fondo blanco*/
    div.img_galry_01 .overlay {
        background-color: rgba(255, 255, 255, .75);
        position:absolute;
        width:600px;
        bottom:4px;
        left: 24px;
        filter:progid:DXImageTransform.Microsoft.gradient(startColorstr=#65FFFFFF,endColorstr=#75FFFFFF);
        height: 68px;
    }
    
    div.img_galry_01 .overlay p {
       padding: 18px 36px 18px 36px;
       font-size:12px;
       line-height:16px;
    }
   
    
     .ie8 div.img_galry_01 .overlay{
        z-index:2000 !important;
        margin-top: -75px;
        padding: 20px 35px 0 35px;
    } 
     
    div.img_galry_01 a.td_bg i {color:#FFF;line-height:24px}
    div.img_galry_01 a.td_bg {
        background: rgba(134, 181, 25, .7);       
        height:28px;
        display:block;
        position:absolute;
        top:0;
        left:24px;
        margin-right:1px;
        color:#FFF;
        text-align:center;
        width:28px;
        line-height:28px;
    }
    
    .img_galry_01 .image-container .twitter,
    .img_galry_01 .image-container .facebook,
    .img_galry_01 .image-container .pinterest{
        display: none;
    }
    
    div.img_galry_01 div.overlay div.controls {
       position:relative;
       top:-28px;
    }
    
    div.img_galry_01 div.controls a.play,
    div.img_galry_01 div.controls a.pause {
       left:0;
    }
    div.img_galry_01 div.controls a.expand {
       left:29px;
    }
    
    div.img_galry_01 a.td_bg.facebook {left:53px;}
    div.img_galry_01 a.td_bg.pinterest {left:82px;}
   
    /* CARRUSEL  1 */
    div.img_galry_01 div.carrusel1 {
       text-align:center;
       margin:0 30px;
       padding-bottom:10px;
    }
    
    div.img_galry_01 ul.ulcarrusel li {
        float: left;
        margin: 0 0 0 14px;
        position:relative;
    }

    div.img_galry_01 ul.ulcarrusel li a.active span.border,
    div.img_galry_01 ul.ulcarrusel li a:hover span.border {
        position:absolute;
        left: 0;
        top: 0;
        display: inline-block;
        width: 66px;
        height: 37px;
        border: 3px solid #86b519;
    }
    
    /* Flechas de navegacion de carruseles */
    div.img_galry_01 div.gallery-controls {
        position:relative;
        margin-top:12px;
        margin-left:24px;
        background:#FFF;
        top:-4px;
        width: auto;
        overflow: hidden;
        background: url(http://i2.esmas.com/deportes30/copa-mundial-fifa-brasil-2014/img/dotted-horizontal-gris.png) repeat-x 0px 0px;  
    }
    div.img_galry_01 .carrusel1 .arrowLeft,
    div.img_galry_01 .carrusel1 .arrowRight {
        font-size:16px;
        position:absolute;
        top:0;
        width:76px;
        height:55px;
        display:block;
        text-align:center;
        vertical-align:middle;
    }
    
    div.img_galry_01 .carrusel1 .arrowLeft a,
    div.img_galry_01 .carrusel1 .arrowRight a{
        height:55px;
        display:block;
        text-align:center;
        vertical-align:middle;
        line-height:55px;
    }
    div.img_galry_01 .carrusel1 .arrowLeft a{
        margin-left: 31px;
        text-decoration: none; 
        color: #232323;
    }
    div.img_galry_01 .carrusel1 .arrowRight a{
        margin-right: 31px;
        text-decoration: none; 
        color: #232323;
    }
    
     div.img_galry_01 .carrusel1 .arrowLeft a i.inactive,
     div.img_galry_01 .carrusel1 .arrowRight a i.inactive,
     div.img_galry_01 .carrusel2 .arrowLeft a i.inactive,
     div.img_galry_01 .carrusel2 .arrowRight a i.inactive{
        color: #8f8f8e; 
     }
    
    
    
    div.img_galry_01 .carrusel1 .arrowLeft {
       left:0;
    }
    div.img_galry_01 .carrusel1 .arrowRight {
       right:0;
    }
    div.img_galry_01 .carrusel1{
        padding:0 36px;
    }
    
    
    /* CARRUSEL  2 */
    
    div.img_galry_01 .carrusel2 {
        position:relative;
        margin:24px 0;
    }
    div.img_galry_01 .carrusel2 .arrowLeft,
    div.img_galry_01 .carrusel2 .arrowRight {
        font-size:16px;
        position:absolute;
        top:0;
        width:76px;
        height:60px;
        display:block;
        text-align:center;
        vertical-align:top;
    }
    div.img_galry_01 .carrusel2 .arrowRight {
        right:0;
    }
    
    div.img_galry_01 #carrusel2{
        margin-top: 15px;
        overflow: hidden;
        width:100%;
        height: 190px;
    }
    
    div.img_galry_01 #carrusel2 #carrusel2_ul li {
        display: block;
        float: left;
        height: 168px;
        margin: 0 12px 0 12px;
        width: 137px;
    }
    div.img_galry_01 #carrusel2 #carrusel2_ul li:first-child {
        margin: 0 12px 0 5px;
    }
    
    div.img_galry_01 #carrusel2 .arrowLeft{
    
        float:left;
        width:25px;
        font-size: 32px;
    }
    div.img_galry_01 #carrusel2 .arrowRight{
        
        float:right;
        width:15px;
        font-size: 32px;
    }
    
    
    div.img_galry_01 a.album span.icon {
        display: none;
    }
    
    
    /*CARRUSLES*/
    div.img_galry_01 .type1a_ .carruselcontainer {
       
    }
    div.img_galry_01 .type1a_ .carruselcontainer .ulcarrusel {
        float: none;        
        width: 955px;
        height:auto;
        overflow: hidden;
    } 
     div.img_galry_01 .carrusel1 .carruselcontainer .ulcarrusel {
         height: 37px;
        overflow: hidden;
        width: 900px;
     }
    div.img_galry_01 a.image {
        width:66px;
        height:37px;
        display:block;
        position:relative
    } 
    div.img_galry_01 a.image img {
        width:66px;
        height:auto;
        display:block;
        position:absolute;
        top:-7px;
        
    } 
    div.img_galry_01 .type1a_ .arrows, 
    div.img_galry_01 .type1a_ .arrowRight{
        display:inline;    
    }

    div.img_galry_01 a.image span.icon {display:none;}

    div.img_galry_01 .type1a_ .ulcarrusel li {
      overflow: hidden;
      padding: 0px;
    }
    
    div.img_galry_01 .type1a_ .carruselcontainer {
        margin:0 auto;
        width:455px;
        overflow:hidden;
    }
    
    div.img_galry_01 .type1a_ .arrowLeft, 
    div.img_galry_01 .type1a_ .arrowRight{
        display:inline;    
    }
    
    div.img_galry_01 .type1a_ #carrusel2_ul li a img {
        background-color: #666666;        
        margin-bottom: 12px !important;
    }
    
    div.img_galry_01 .type1a_ .carruselcontainer ul li .gal_desc {
        font-size: 12px;
        margin-top: 0;
        width: 100%;
        float: left;
        font-size: 12px;
        width: 100%;
        min-height: 57px;
        border-left: none;
        padding: 0px;
    }
    
    
    div.img_galry_01 .type1a_ .carruselcontainer ul:after {
        clear: both;
    }
    
    div.img_galry_01 .type1a_ .carruselcontainer ul:before, 
    div.img_galry_01 .type1a_ .carruselcontainer ul:after {
        content: "";
        display: table;
    }
    
    div.img_galry_01 .type1a_ div.title ul li a {
      display: block;
    }
    div.img_galry_01 .type1a_ ul {
      margin: 0 0 auto;
    }
    div.img_galry_01 .type1a_.showArrows div:first-child h1 {
      width: 300px;
    }
    div.img_galry_01 .type1a_ div:last-child ul {
      margin-top: 0;
    }
    
    
    
   
    


    .img_galry_01 .carrusel2 .arrowLeft a,
    .img_galry_01 .carrusel2 .arrowRight a {
        height: 60px;
        display: block;
        text-align: center;
        vertical-align: top;
    }
    .img_galry_01 .carrusel2 .arrowLeft a{
        margin-left: 31px;
        text-decoration: none; 
        color: #232323;
    }
    .img_galry_01 .carrusel2 .arrowRight a {
        margin-right: 31px;
        text-decoration: none; 
        color: #232323;
    }
    div.img_galry_01 .carrusel1 ul li {
        display:inline-block;
        margin:0 11px 0 0;
        padding:0;
        float:left;
        position:relative;
    }
    div.img_galry_01 .carrusel1 ul li:last-child{
        margin-right: 0;
    }
    div.img_galry_01 .carrusel2 ul li {
        display:inline-block;
        margin:0 22px 0 0;
        padding:0;
        float:left;
        position:relative;
        width:136px;
    }
    
    
    div.img_galry_01 a.album {
        position:relative;
        float:left;
        text-decoration: none;
        color: #232323; 
    }

    div.img_galry_01 a.image span.title {display:none;}
    div.img_galry_01 a.album:focus span.overlay,
    div.img_galry_01 a.album.active span.overlay {
        position: absolute;
        left: 0;
        top: 0;
        /*background: rgba(167,10,11,.6);*/ 
        background-color: #b8bf35; 
        border: 0;
        width: 136px;
        height: 103px;
        display:block;
        text-align:center;
        color:#FFF;
    }
    
    div.img_galry_01 a.album span.overlay i {
        line-height:103px;
    }

    div.img_galry_01 a.album span.overlay {
        display:none;
    }
    
    div.img_galry_01 a.album span.description {
        font-size:14px;
        font-weight:bold; 
    }
    
    div.img_galry_01 a.album span.description span {
        display:block;
    }
    div.img_galry_01 a.album span.description span.title {
        padding-bottom:24px;
    }
    
    div.img_galry_01 span.loading {
        color:#FFF;
        background:rgba(0, 0, 0, 0.6);
        position:absolute;
        top:50%;
        border-radius:10px;
        width:75px;
        height:75px;
        margin-left:-37px;
        margin-top:-45px;
        display:block;
        text-align:center;
        left:50%;
    }
    
    /* vertical center */
    div.img_galry_01 span.loading i {
        line-height:65px;
    }
    
    div.img_galry_01  a.album:hover span.overlay {
        width:135px;
        height:102px;
        background:transparent none;
        border:3px solid #9ca236;
        display:block;
        position:absolute;
        left:0;
        top:0;
    }
    div.img_galry_01  a.album:hover span.overlay i {
        display:none;
    }
    
    div.img_galry_01  a.album.active:hover span.overlay {
        background: rgba(167,10,11,.2);
    }
    
    div.img_galry_01  a.album.active:hover span.overlay i {
    }

    div.img_galry_01 div.image-container {
        position: relative;
    }

    div.img_galry_01 div.image-container .controls {
        position: absolute;
        left: 24px;
        bottom: 100px !important;
    }

    .ie8 div.img_galry_01 div.image-container {
        position: relative;
    }

    .ie8 div.img_galry_01 div.image-container .overlay {
        left:24px !important;
        height: 50px;
    }

    .ie8 div.img_galry_01 div.image-container .controls {
        position: absolute;
        left: 24px;
        bottom: 102px !important;
    }
    
    .ie8 div.img_galry_01 div.image-container .overlay p{
        padding-top: 0px;
        padding-left:0;
    } 
}


@media screen and (max-width: 623px) {
    
    div.img_galry_01 {
        position: relative;
        margin-bottom: 30px;
    }
    div.img_galry_01 div.image-container {border:2px solid red;}
    div.img_galry_01 div.arrowLeft,
    div.img_galry_01 div.arrowRight,
    div.img_galry_01 div.carrusel1,
    div.img_galry_01 div.image-container {display:none;}
    
    div.img_galry_01 div.carruselcontainer {
        padding:0 0 0 0;
        height: 210px;
        overflow: hidden;
        width:105%;
        overflow-y:scroll;
    }
    
    div.img_galry_01 ul.ulcarrusel {
        border:0;
        overflow: hidden;
        height: auto;
    }
    
    div.img_galry_01 a.album img {
        width: 77px;
        height: 63px;
    }
    
    div.img_galry_01 a.album .overlay,
    div.img_galry_01 a.album .description .topic{
        display:none;
    }
    
    div.img_galry_01 a.album img {float:left;}
    div.img_galry_01 a.album span.title {
        /*height:42px;*/
        height: 63px; 
        border-left:1px solid #d1d1d1;
        display:block;
        margin:0 0 0 89px;
        padding:12px;
        max-width:80%;
        vertical-align:middle;
        font-size:14px;
    }
    
    div.img_galry_01 a.album {
        margin-bottom:9px;
        position:relative;
        display:block;
        float:left;
        text-decoration: none;
        color: #232323;
        font-family: "trebuchet MS";
        font-size: 14px;  
    }
    
    div.img_galry_01 div.carruselcontainer ul li:last-child .album{
        margin-bottom: 0;
    }
    
    
    div.img_galry_01 div.carruselcontainer ul li {
        clear:left;
        overflow: hidden;
    } 
    
    div.img_galry_01 a.album span.icon {
        color:#FFF;
        line-height:30px;
        display:block; 
        /*background: rgba(134, 181, 25, .7);   */
        background: #86b519 url(../../../images/img_galry_01/swipe.png) no-repeat top left;
        width:24px;
        height:24px;
        position:absolute;
        top:39px; 
    }
    
    div.img_galry_01 a.album span.icon i {
        padding-left:4px;
    }
    div.img_galry_01 .dotted-bottom {background:transparent none!important;
    }
    div.img_galry_01 .back_overlay{
        background:rgba(167,10,11,.6);
        background-color:transparent;
    }
    
    .img_galry_01 .degradado{
        border-top:none;
        display:block;
        position:absolute;
        bottom:0;
        width:100%;
        height:12px;
        background-image:url(../global/img/degradado_horizontal.png);
        background-repeat:repeat-x;
        background-position:10px;
        bottom: 0px;
    }
    
    .img_galry_01 .gallery-controls{
    
        overflow: hidden;
    }
    
    
}

/* All devices */
div.img_galry_01 span.data {display:none;}