/* Mobile only */
@media screen and (max-width: 623px) {
    div.div_192x40 img.publicidad_192x40 {
        /*margin-left: 26px;
        margin-top: 11px;*/
    }
}

@media screen and (min-width: 624px) {
	div.div_192x40{
	height:40px;
    width:192px;
	}
div.div_192x40 img.publicidad_192x40 {
    height:40px;
    width:192px;    
}
}